@page "/"

<PageTitle>Blazor Introduction - Home

</PageTitle>

<h1 class="m-0">Blazor Introduction</h1>

<div class="lead mb-5 fs-4">Applications built to demonstate the basics of Blazor</div>

<dl>
    <dt>Blazor Project Structure</dt>
    <dd>Modify the Blazor Project Structure</dd>
    <dt>Blazor Syntax</dt>
    <dd>Add conditional logic to html markup</dd>
    <dt>Routing</dt>
    <dd>Add pages and give them a route</dd>
    <dt>Layout Components</dt>
    <dd>Modify the base nav menu and styles</dd>
</dl>